body {
    background-image: $bg-image;
    color: $primary-color1;
    font-family: $font-main, serif;
    
    div.container {
        div.content {
            div.subheader {
                h3 {
                    font-style: italic;
                }
            }
        }
    }
}