div.container {
    width: 70%;
    margin: 0 auto;
    
    div.nav {
        width: 100%;
        text-align: right;
        height: 80px;
        margin-bottom: 50px;
        
        ul.navbar {
            li {
                display: inline-block;
                
                div.nav-element {
//                    display: inline;
                    height: 60px;
                    position: relative;
                    top: -12px;
                    padding: 0 15px;
                
                    a {
                        text-decoration: none;
                        position: relative;
                        top: 15px;
                        
                        span {
                            position: relative;
                            top: 5px;
                            transition-duration: 0.25s;
                        }
                        &:hover {
                            text-decoration: underline;
                            
                            span {
                                position: relative;
                                top: 10px;
                                transition-duration: 0.25s;
                            }
                        }
                    }
                }
                
                div.nav-active, div.nav-inactive {
                    position: relative;
                    top: -12px;
                    padding: 0 15px;
                    height: 10px;
                }
                div.nav-active {
                    background-color: red;
                }
                div.nav-inactive {
                    visibility: hidden;
                }
            }
        }
    }
}