body {
    .s {
        display: none;
    }
}

div.container {
    width: 90%;
    margin: 0 auto;
    
    div.nav {
        width: 100%;
        text-align: right;        
        margin: 22px 0 50px 0;
        
        ul.navbar {
            div.items {
                display: block;
            }
            li {
                display: inline-block;
                
                a {
                    margin-right: 5px;
                    padding: 10px 20px;
                    text-decoration: none; 
                }
            }
        }
    }
    
    div.content {
        div.header {
            text-align: center;
        }
        div.subheader {
            text-align: center;
            
            h2, h3 {
                display: inline;
            }
        }
        div.article {
        }
    }
}